[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.8.1"
transformers = "==4.6.1"
tqdm = "*"
pandas = "*"
sklearn = "*"
ckiptagger = "==0.2.1"
tensorflow-cpu = "==2.6.4"
pipfile = "*"
typing-extensions = "*"
wandb = "*"

[dev-packages]
wandb = "*"

[requires]
python_version = "3.8"
